
.location-group {
    display: flex;
    flex: 1;
    margin-right: 20px;
    justify-content: space-evenly;

    /* Adjust as needed */
  }

  .container {
    width: 50%;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }